:root{
    --primary-blue: #00DCB9;
    --primary-white: #D7EBEB;
    --secondary-blue: #0A192D;
    --secondary-white: #EDF2F2;
    --header-font: 'Saira', sans-serif;
    --regular-font: 'Mulish', sans-serif;
    
}

*{
    line-height: 2;
    color: var(--secondary-blue);
}


body{
    margin: 0;
    font-family: var(--regular-font);
}

header{
    position: sticky;
    box-shadow: 0px 0px 0px 2px var(--primary-white);
    height: 5.5em;
    top: 0;
    background-color: white;
}

header > a > img:nth-of-type(1){
    width: 2.4em;
    margin-top: .8em;
    margin-left: 1em;
}

header > a > img:nth-of-type(2){
    width: 5em;
    margin-bottom: 1em;
    margin-left: .2em;
}

main{
    display: grid;
    grid-template-columns: 1rem repeat(7,1fr);
    margin-left: 1em;
    margin-right: 1em;
}

.front > h1, h2, h3{
    font-family: var(--header-font);
}

.list-main{
    padding: 0;
    list-style-type: none;
}


.intro-main{
    grid-column-start: 2;
    grid-column-end: 9;
    padding-top: 3em;

}

h1{
    font-size: 32px;
    font-family: var(--header-font);
}

.content-main{
    grid-column-start: 2;
    grid-column-end: 9;
    
}

.list-main > img{
    margin-top: 1em;
    width: 21em;
}

.list-main > li > a{
    padding: .5em 1em .5em 1em;
    border-radius: 9999px;
    border: 2px solid var(--secondary-blue);
    background-color: transparent;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-blue);
}

.grey-line{
    border: 1px solid var(--secondary-white);
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 9;
}

.intro-detail{
    grid-column-start: 2;
    grid-column-end: 9;
}

.middle-detail{
    grid-column-start: 2;
    grid-column-end: 9;
}

.content-detail{
    grid-column-start: 2;
    grid-column-end: 9;
}

.content-detail > ul > li{
    line-height: 1.7em;
    margin-bottom: .5em;
}

.reel-detail{
    grid-column-start: 1;
    grid-column-end: 9;
}

.reel-detail > img{
    width: 100vw;
    margin-left: -1em;
    margin-right: -1em;
}