:root{
    --primary-blue: #00DCB9;
    --primary-white: #D7EBEB;
    --secondary-blue: #0A192D;
    --secondary-white: #EDF2F2;
    --header-font: 'Saira', sans-serif;
    --regular-font: 'Mulish', sans-serif;
    --content-regular-start: 2;
    --content-regular-end: 9;
    --content-media-start: 1;
    --content-media-end: 9;
    
}

*{
    line-height: 2;
    color: var(--secondary-blue);
}


body{
    margin: 0;
    font-family: var(--regular-font);
}

header{
    position: sticky;
    box-shadow: 0px 0px 0px 2px var(--primary-white);
    height: 5.5em;
    top: 0;
    background-color: white;
    z-index: 10;
}

header > a{
    text-decoration: none;
}

header > a > img:nth-of-type(1){
    width: 2.4em;
    margin-top: .8em;
    margin-left: 1em;
}

header > a > img:nth-of-type(2){
    width: 5em;
    margin-bottom: 1em;
    margin-left: .2em;
}

main{
    display: grid;
    grid-template-columns: 1rem repeat(7,1fr);
    margin-left: 1em;
    margin-right: 1em;
}

.front > h1, h2, h3{
    font-family: var(--header-font);
}

.list-main{
    padding: 0;
    list-style-type: none;
}


.intro-main{
    grid-column-start: var(--content-regular-start);
    grid-column-end: var(--content-regular-end);
    padding-top: 3em;

}

h1{
    font-size: 32px;
    font-family: var(--header-font);
}

.content-main{
    grid-column-start: var(--content-regular-start);
    grid-column-end: var(--content-regular-end);
    
}

.list-main > img{
    margin-top: 1em;
    width: 21em;
}

.list-main > li > a{
    padding: .5em 1em .5em 1em;
    border-radius: 9999px;
    border: 2px solid var(--secondary-blue);
    background-color: transparent;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-blue);
}

.grey-line{
    border: 1px solid var(--secondary-white);
    height: 100%;
    grid-row-start: var(--content-media-start);
    grid-row-end: var(--content-media-end);
}

.content-detail{
    grid-column-start: var(--content-regular-start);
    grid-column-end: var(--content-regular-end);
}

.content-detail > ul > li{
    line-height: 1.7em;
    margin-bottom: .5em;
}

.reel-detail{
    grid-column-start: var(--content-media-start);
    grid-column-end: var(--content-media-end);
}

.reel-detail > video{
    width: 100vw;
    margin-left: -1em;
    margin-right: -1em;
}

.reel-detail > img{
    width: 100vw;
    margin-left: -1em;
    margin-right: -1em;
}

footer{
    background-color: var(--secondary-blue);
    height: 31.2em
}

.content-detail > form{
    max-width: 9em;
    font-size: 1.5rem;
}

.content-detail > form > input{
    padding: 1em;
    padding-right: 10em;
    border: solid 2px var(--secondary-blue);
}

.content-detail > form > label{
    font-family: var(--header-font);
    font-weight: 400;
}

.content-detail > form > input::placeholder{
    font-size: 14px;
    opacity: .8;
}



input[type="file"] {
    display: none;
}

.content-detail > form > label:nth-of-type(6){
    margin-right: 5em;
}

.content-detail > form > label:nth-of-type(7){
    border: 2px solid var(--secondary-blue);
    border-radius: 9999px;
    padding: .3em 1.2em .3em 1.2em;
    margin-left: .6em;
    font-size: 18px;
    font-weight: 500;
    margin-right: 5em;
    cursor: pointer;
}

.content-detail > form > label:nth-of-type(7) > svg{
    width: 1em;
    margin-right: 3px;

}

.content-detail > form > input:nth-of-type(6){
    padding: .6em 1.7em .6em 1.7em;
    font-weight: 500;
    font-size: 18px;
    border-radius: 9999px;
    margin-left: .6em;
    background-color: var(--primary-blue);
    border: none;
    vertical-align: -1em;
    margin-bottom: 1em;
    cursor: pointer;
}

footer{
    display: flex;
    flex-flow: column nowrap;
}

footer > p{
    color: white;
    margin-left: .5em;
}
footer > a{
    color: white;
    text-decoration: none;
    margin-left: .5em;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: .2em;
}

footer > a > img:nth-of-type(1){
    width: 2.4em;
    margin-top: 4em;
    margin-left: 1em;
    
}

footer > a > img:nth-of-type(2){
    width: 5em;
    margin-bottom: 1em;
    margin-left: .2em;
}

footer > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer > div > p{
    color: white;
    font-size: 12px;
    flex-basis: 40%;
    margin-left: 2em;
    margin-top: 1.5em;
}

footer > div > p:nth-of-type(3){
}